In [1]:
import pandas as pd

In [2]:
# Load the uploaded CSV file to examine its structure
file_path = './Original Files/Summary_Indices_ics_icc_ice_122024.csv'
umich_ics_icc_ice_data = pd.read_csv(file_path)

In [3]:
# Display the first few rows to understand its structure
umich_ics_icc_ice_data.head()

,yyyymm,ics_all,ics_a1834,ics_a3554,ics_a5597,ics_w,ics_nc,ics_ne,ics_s,ics_m,...,icc_ne,icc_s,icc_m,icc_f,icc_y13,icc_y23,icc_y33,icc_ehs,icc_esc,icc_ecd
0,197801,83.7,93.7,86.7,75.0,83.6,85.5,84.1,81.3,90.2,...,95.4,92.0,101.9,91.9,NaN,NaN,NaN,93.3,107.6,100.0
1,197802,84.3,99.7,82.3,77.1,94.2,81.9,83.1,81.6,90.2,...,91.0,92.8,101.2,91.1,NaN,NaN,NaN,92.7,101.2,102.4
2,197803,78.8,91.7,76.8,68.8,79.6,76.7,78.7,79.7,86.6,...,89.1,97.6,100.0,88.8,NaN,NaN,NaN,88.7,100.0,98.8
3,197804,81.6,91.6,79.7,73.9,81.6,80.9,82.5,81.6,86.3,...,96.8,101.1,102.7,94.7,NaN,NaN,NaN,94.3,100.6,106.2
4,197805,82.9,95.6,78.9,74.4,86.4,81.5,79.7,84.5,90.1,...,96.5,100.7,103.4,94.9,NaN,NaN,NaN,94.6,99.5,107.9

In [4]:
# Dictionary to map old column names to new descriptive names
column_rename_umich_map = {
    'ics_all': 'Index_con_sentiment', 'ice_all': 'Index_con_expectation','icc_all': 'Index_econ_conditions',
    'ics_a1834': 'con_sentiment_AGE_18-34', 'ice_a1834': 'con_expectation_AGE_18-34','icc_a1834': 'econ_conditions_AGE_18-34',
    'ics_a3554': 'con_sentiment_AGE_35-54', 'ice_a3554': 'con_expectation_AGE_35-54','icc_a3554': 'econ_conditions_AGE_35-54',
    'ics_a5597': 'con_sentiment_AGE_55-97','ice_a5597': 'con_expectation_AGE_55-97','icc_a5597': 'econ_conditions_AGE_55-97',
    'ics_m': 'con_sentiment_genderM','ice_m': 'con_expectation_genderM','icc_m': 'econ_conditions_genderM',
    'ics_f': 'con_sentiment_genderW','ice_f': 'con_expectation_genderW','icc_f': 'econ_conditions_genderW',
    'ics_nc': 'con_sentiment_region_NorthCentral','ice_nc': 'con_expectation_region_NorthCentral','icc_nc': 'econ_conditions_region_NorthCentral',
    'ics_ne': 'con_sentiment_region_Northeast','ice_ne': 'con_expectation_region_Northeast','icc_ne': 'econ_conditions_region_Northeast',
    'ics_s': 'con_sentiment_region_South','ice_s': 'con_expectation_region_South','icc_s': 'econ_conditions_region_South',
    'ics_w': 'con_sentiment_region_West','ice_w': 'con_expectation_region_West','icc_w': 'econ_conditions_region_West',
    'ics_y13': 'con_sentiment_income_LowestThird','ice_y13': 'con_expectation_income_LowestThird','icc_y13': 'econ_conditions_income_LowestThird',
    'ics_y23': 'con_sentiment_income_MiddleThird','ice_y23': 'con_expectation_income_MiddleThird','icc_y23': 'econ_conditions_income_MiddleThird',
    'ics_y33': 'con_sentiment_income_HighestThird','ice_y33': 'con_expectation_income_HighestThird','icc_y33': 'econ_conditions_income_HighestThird',
    'ics_ehs': 'con_sentiment_education_HS_orLess','ice_ehs': 'con_expectation_education_HS_orLess','icc_ehs': 'econ_conditions_education_HS_orLess',
    'ics_esc': 'con_sentiment_education_SomeCollege','ice_esc': 'con_expectation_education_SomeCollege','icc_esc': 'econ_conditions_education_SomeCollege',
    'ics_ecd': 'con_sentiment_education_CollegeDegreeOrHigher','ice_ecd': 'con_expectation_education_CollegeDegreeOrHigher','icc_ecd': 'econ_conditions_education_CollegeDegreeOrHigher'
}

# Rename the columns in the DataFrame
umich_data_renamed = umich_ics_icc_ice_data.rename(columns=column_rename_umich_map)

In [5]:
# Define groups and their associated columns with updated descriptive names
Demo_group_umich_mappings = {
    'All': ['Index_con_sentiment', 'Index_con_expectation', 'Index_econ_conditions'],
    'Age 18-34': ['con_sentiment_AGE_18-34', 'con_expectation_AGE_18-34', 'econ_conditions_AGE_18-34'],
    'Age 35-54': ['con_sentiment_AGE_35-54', 'con_expectation_AGE_35-54', 'econ_conditions_AGE_35-54'],
    'Age 55-97': ['con_sentiment_AGE_55-97', 'con_expectation_AGE_55-97', 'econ_conditions_AGE_55-97'],
    'Men': ['con_sentiment_genderM', 'con_expectation_genderM', 'econ_conditions_genderM'],
    'Women': ['con_sentiment_genderW', 'con_expectation_genderW', 'econ_conditions_genderW'],
    'North Central': ['con_sentiment_region_NorthCentral', 'con_expectation_region_NorthCentral', 'econ_conditions_region_NorthCentral'],
    'Northeast': ['con_sentiment_region_Northeast', 'con_expectation_region_Northeast', 'econ_conditions_region_Northeast'],
    'South': ['con_sentiment_region_South', 'con_expectation_region_South', 'econ_conditions_region_South'],
    'West': ['con_sentiment_region_West', 'con_expectation_region_West', 'econ_conditions_region_West'],
    'Lowest Third Income': ['con_sentiment_income_LowestThird', 'con_expectation_income_LowestThird', 'econ_conditions_income_LowestThird'],
    'Middle Third Income': ['con_sentiment_income_MiddleThird', 'con_expectation_income_MiddleThird', 'econ_conditions_income_MiddleThird'],
    'Highest Third Income': ['con_sentiment_income_HighestThird', 'con_expectation_income_HighestThird', 'econ_conditions_income_HighestThird'],
    'High School or Less': ['con_sentiment_education_HS_orLess', 'con_expectation_education_HS_orLess', 'econ_conditions_education_HS_orLess'],
    'Some College': ['con_sentiment_education_SomeCollege', 'con_expectation_education_SomeCollege', 'econ_conditions_education_SomeCollege'],
    'College Degree or Higher': ['con_sentiment_education_CollegeDegreeOrHigher', 'con_expectation_education_CollegeDegreeOrHigher', 'econ_conditions_education_CollegeDegreeOrHigher']
}

In [6]:
# Create a new structured DataFrame
structured_data = pd.DataFrame()

In [7]:
structured_data.head()

Empty DataFrame
Columns: []
Index: []

In [8]:
# Transform and combine data by iterating through each group and associated columns
for group, columns in Demo_group_umich_mappings.items():
    temp_df = umich_data_renamed[['yyyymm'] + columns].copy()  # Using the renamed DataFrame
    temp_df.columns = ['Date', 'ICS Score', 'ICE Score', 'ICC Score']  # Standardize column names
    temp_df['Group'] = group  # Add group information
    
    # Append to the main structured DataFrame
    structured_data = pd.concat([structured_data, temp_df], ignore_index=True)

In [9]:
# Copy the structured data to avoid altering the original DataFrame
structured_umichdata_with_demo = structured_data.copy()

# Initialize demographic columns with None
structured_umichdata_with_demo['Age'] = None
structured_umichdata_with_demo['Region'] = None
structured_umichdata_with_demo['Gender'] = None
structured_umichdata_with_demo['Income'] = None
structured_umichdata_with_demo['Education'] = None

Step-by-Step Explanation:
Identify Rows with Specific Keywords:

Each line uses .str.contains() to search for a keyword in the Group column.
For example, structured_data_with_demo['Group'].str.contains('Age') checks if the string "Age" is present in each value of the Group column.
Select Rows with the Keyword:

The .loc[] function is used to select the rows where the keyword was found.
structured_data_with_demo.loc[...] allows us to specify a condition and then select or modify specific rows that meet that condition.
Populate the Corresponding Demographic Column:

For the rows that contain the keyword, the value in the Group column is copied to the appropriate demographic column.
For instance, if the Group value contains "Age," the value from Group is placed in the Age column for that row.
This operation is repeated for each demographic type (Age, Region, Gender, Income, Education).

Result:
Each demographic column (Age, Region, etc.) is filled based on the keywords found in the Group column, creating easy-to-filter fields for analysis. This approach leverages the pattern in the Group values to sort them efficiently into their respective demographic categories.

In [10]:
# Populate the demographic columns based on keywords in the 'Group' column
structured_umichdata_with_demo.loc[structured_umichdata_with_demo['Group'].str.contains('All'), 'All'] = structured_umichdata_with_demo['Group']
structured_umichdata_with_demo.loc[structured_umichdata_with_demo['Group'].str.contains('Age'), 'Age'] = structured_umichdata_with_demo['Group']
structured_umichdata_with_demo.loc[structured_umichdata_with_demo['Group'].str.contains('region'), 'Region'] = structured_umichdata_with_demo['Group']
structured_umichdata_with_demo.loc[structured_umichdata_with_demo['Group'].str.contains('gender'), 'Gender'] = structured_umichdata_with_demo['Group']
structured_umichdata_with_demo.loc[structured_umichdata_with_demo['Group'].str.contains('income'), 'Income'] = structured_umichdata_with_demo['Group']
structured_umichdata_with_demo.loc[structured_umichdata_with_demo['Group'].str.contains('education'), 'Education'] = structured_umichdata_with_demo['Group']


structured_umichdata_with_demo.head()

,Date,ICS Score,ICE Score,ICC Score,Group,Age,Region,Gender,Income,Education,All
0,197801,83.7,75.7,96.2,All,None,None,None,None,None,All
1,197802,84.3,77.2,95.4,All,None,None,None,None,None,All
2,197803,78.8,69.5,93.2,All,None,None,None,None,None,All
3,197804,81.6,71.1,98.0,All,None,None,None,None,None,All
4,197805,82.9,73.0,98.2,All,None,None,None,None,None,All

In [11]:
structured_umichdata_with_demo.shape

(9024, 11)

In [12]:
structured_umichdata_with_demo.to_csv('Univ.Michigan-ics_icc_ice_Restructured.csv', index=False)

In [13]:
# Load the uploaded CSV file to examine its structure
file_path = './Original Files/Univ.Michigan-Personal-Finances082024.csv'
umich_personal_fin_df = pd.read_csv(file_path)

In [14]:
# Display the first few rows to understand the structure
umich_personal_fin_df.head()

,yyyymm,pago_r_all,pago_r_a1834,pago_r_a3554,pago_r_a5597,pago_r_w,pago_r_nc,pago_r_ne,pago_r_s,pago_r_m,...,pjob_mean_ne,pjob_mean_s,pjob_mean_m,pjob_mean_f,pjob_mean_y13,pjob_mean_y23,pjob_mean_y33,pjob_mean_ehs,pjob_mean_esc,pjob_mean_ecd
0,197801,105,130,105,89,101,105,108,103,109,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,197802,106,133,111,86,122,108,97,101,108,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,197803,100,132,89,82,97,106,97,98,105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,197804,104,126,99,87,105,104,93,116,108,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,197805,105,139,97,81,116,103,102,104,113,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# Define the column renaming map
column_rename_personal_fin_map = {}

In [16]:
# Standardize naming conventions
prefix_personal_fin_map = {
    'pago_r': 'Current_Financial_Comparison',
    'pagorn_ny': 'Net_Higher_Income',
    'pexp_r': 'Expected_Financial_Change',
    'ptrd_r': 'Annual_Financial_Trend',
    'pago5_r': 'Current_Financial_Comparison_5Years',
    'pexp5_r': 'Expected_Financial_Change_5Years',
    'ptrd5_r': 'Annual_Financial_Trend_5Years',
    'inex_med': 'Median_Expected_Income',
    'inex_r': 'Expected_Income_Change',
    'rinc_r': 'Expected_Real_Income_Change',
    'pinc2_mean': 'Probability_Income_Increase',
    'pinc_mean': 'Mean_Income_Probability',
    'pjob_mean': 'Probability_Job_Loss',
}

In [17]:
suffix_personal_fin_map = {
    'all': {'Group': 'All'},
    'a1834': {'Age': '18-34'},
    'a3554': {'Age': '35-54'},
    'a5597': {'Age': '55-97'},
    'w': {'Region': 'West'},
    'nc': {'Region': 'NorthCentral'},
    'ne': {'Region': 'Northeast'},
    's': {'Region': 'South'},
    'm': {'Gender': 'Men'},
    'f': {'Gender': 'Women'},
    'y13': {'Income': 'LowestThird'},
    'y23': {'Income': 'MiddleThird'},
    'y33': {'Income': 'HighestThird'},
    'ehs': {'Education': 'HS_orLess'},
    'esc': {'Education': 'SomeCollege'},
    'ecd': {'Education': 'CollegeDegreeOrHigher'},
}

In [18]:
# Reshape data: Wide to Long
personal_fin_long_format = umich_personal_fin_df.melt(id_vars=['yyyymm'], var_name='Original_Column', value_name='Value')

In [19]:
def map_columns(row):
    prefix, suffix = None, None
    for p in prefix_personal_fin_map:
        if row.startswith(p):
            prefix = p
            break
    for s in suffix_personal_fin_map:
        if row.endswith(s):
            suffix = s
            break
    return prefix, suffix

In [20]:
# Apply mapping
personal_fin_long_format['Metric'], personal_fin_long_format['Suffix'] = zip(*personal_fin_long_format['Original_Column'].apply(map_columns))
personal_fin_long_format['Metric'] = personal_fin_long_format['Metric'].map(prefix_personal_fin_map)
personal_fin_long_format = personal_fin_long_format.dropna(subset=['Metric'])

In [21]:
# Expand demographic columns
for key, value_map in suffix_personal_fin_map.items():
    for col, value in value_map.items():
        personal_fin_long_format.loc[personal_fin_long_format['Suffix'] == key, col] = value

In [22]:
# Clean up columns
personal_fin_long_format['Date'] = pd.to_datetime(personal_fin_long_format['yyyymm'].astype(str), format='%Y%m')
personal_fin_long_format = personal_fin_long_format.drop(columns=['yyyymm', 'Original_Column', 'Suffix'])

In [23]:
# Save the restructured file
output_path = './Univ.Michigan-Personal-Finances-Restructured.csv'
personal_fin_long_format.to_csv(output_path, index=False)

output_path

'./Univ.Michigan-Personal-Finances-Restructured.csv'

In [24]:
personal_fin_long_format.head()

,Value,Metric,Group,Age,Region,Gender,Income,Education,Date
0,105.0,Current_Financial_Comparison,All,NaN,NaN,NaN,NaN,NaN,1978-01-01
1,106.0,Current_Financial_Comparison,All,NaN,NaN,NaN,NaN,NaN,1978-02-01
2,100.0,Current_Financial_Comparison,All,NaN,NaN,NaN,NaN,NaN,1978-03-01
3,104.0,Current_Financial_Comparison,All,NaN,NaN,NaN,NaN,NaN,1978-04-01
4,105.0,Current_Financial_Comparison,All,NaN,NaN,NaN,NaN,NaN,1978-05-01

In [25]:
# Split the dataset into separate files based on unique Metric values
metrics = personal_fin_long_format['Metric'].unique()
file_paths = []

for metric in metrics:
    # Filter data for the current metric
    metric_data = personal_fin_long_format[personal_fin_long_format['Metric'] == metric]
    
    # Define a filename for the metric
    metric_file_path = f'./Univ.Michigan-MetricFiles-{metric.replace(" ", "_")}.csv'
    
    # Save the metric data to a CSV file
    metric_data.to_csv(metric_file_path, index=False)
    
    # Store the file path for reference
    file_paths.append(metric_file_path)

file_paths

['./Univ.Michigan-MetricFiles-Current_Financial_Comparison.csv',
 './Univ.Michigan-MetricFiles-Net_Higher_Income.csv',
 './Univ.Michigan-MetricFiles-Expected_Financial_Change.csv',
 './Univ.Michigan-MetricFiles-Annual_Financial_Trend.csv',
 './Univ.Michigan-MetricFiles-Current_Financial_Comparison_5Years.csv',
 './Univ.Michigan-MetricFiles-Expected_Financial_Change_5Years.csv',
 './Univ.Michigan-MetricFiles-Annual_Financial_Trend_5Years.csv',
 './Univ.Michigan-MetricFiles-Median_Expected_Income.csv',
 './Univ.Michigan-MetricFiles-Expected_Income_Change.csv',
 './Univ.Michigan-MetricFiles-Expected_Real_Income_Change.csv',
 './Univ.Michigan-MetricFiles-Probability_Income_Increase.csv',
 './Univ.Michigan-MetricFiles-Mean_Income_Probability.csv',
 './Univ.Michigan-MetricFiles-Probability_Job_Loss.csv']